<!DOCTYPE html>
<html lang="en">
    <!-- PHẦN HEAD (khai báo các thư viện và đường dẫn file bên ngoài)-->
    <head>
        <!-- Khai báo tất cả các thư viện và một số thiết lập -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="CSS/bootstrap.min.css">
        <link rel="stylesheet" href="CSS/all.min.css">
        <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
        <script src = "socket.io/socket.io.js"></script>
        <!-- <script src="js/jquery-3.6.4.min.js"></script> -->
        <script src="js/FileSaver.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <!-- khai báo địa chỉ trang web có thể dùng localhost:3000 hoặc địa chỉ ip của máy tính -->
        <script>
            const socket = io();        
        </script>
        <!--Khai báo đường dẫn file xử lý sự kiện của người dùng và plc-->
        <script src = "js/FC1_Common.js"></script>
        <!--Khai báo đường dẫn file xử lý sự kiện đăng nhập của người dùng-->     
        <script src = "js/FC2_UserManagement.js"></script>
        <!-- Khai báo đường dẫn file định dạng phần nội dung cho trang web -->
        <link rel="stylesheet" href="CSS/styles.css">
        <!-- Tiêu đề trang web -->
        <title>Webserver HALA</title>      
    </head>
    <!--PHẦN THÂN (chứa toàn bộ nội dung trang web)-->
    <body>
        <header class="text-center">
            <a href="https://feet.iuh.edu.vn"><img src="images/LOGO_IUH.PNG" title="Trường Đại học Công nghiệp Thành phố Hồ Chí Minh"
                class="img-fluid m-0" alt=""></a>
            <div id="title_web" class="text-center fw-bold text-danger">
                ĐỀ TÀI: THIẾT KẾ HỆ THỐNG LƯU KHO TỰ ĐỘNG VÀ GIÁM SÁT BẰNG MÃ QR
            </div>
            <nav class="navbar navbar-expand-md bg-light p-0" id="navbar">
                <div class="container-fluid" id="slider">
                    <a class="navbar-brand" onclick="CallPageHome()">
                        <img id="logo_HALA" src="images/logo_HALA.png" title="logo_HALA" height="60px" alt="Logo">
                        HALA
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown ">
                                <a class="nav-link dropdown-toggle active" id="bt_introduce" role="button"
                                    aria-expanded="false">
                                    INTRODUCE
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" id="bt_tongquan" href="#TongQuan" >TỔNG QUAN</a></li>
                                    <hr class="dropdown-divider">
                                    <li><a class="dropdown-item" id="bt_mohinh" href="#MoHinh" >MÔ HÌNH</a></li>
                                    <li>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="bt_control" role="button">
                                    CONTROL
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" id="bt_scada" href="#scada">SCREEN 1</a></li>
                                    <hr class="dropdown-divider">
                                    <li><a class="dropdown-item" id="bt_scada_display_2" href="#scada">SCREEN 2</a></li>
                                    <hr class="dropdown-divider">
                                    <li><a class="dropdown-item" id="bt_table" href="#table">TABLE</a></li>
                                    <li>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" id="bt_user" href="#user"> USER</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="bt_member" role="button" aria-expanded="false">
                                MEMBER
                                </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" id="bt_member1" href="#member1">Ths.Hà Chí Kiên</a></li>
                                <hr class="dropdown-divider">
                                <li><a class="dropdown-item" id="bt_member2" href="#member2">Bạch Hoàng Ân</a></li>
                                <hr class="dropdown-divider">
                                <li><a class="dropdown-item" id="bt_member3" href="#member3">Trần Tiến Anh</a></li>
                                <hr class="dropdown-divider">
                                <li><a class="dropdown-item" id="bt_member4" href="#member4">Nguyễn Phan Châu Huân</a></li>
                                <hr class="dropdown-divider">
                                <li><a class="dropdown-item" id="bt_member5" href="#member5">Nguyễn Thành Luân</a></li>
                                <li>   
                                </li>
                            </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div id="content">
            <!-- ////////////// NỘI DUNG TRANG GIỚI THIỆU (INTRODUCE) //////////////  -->
            <div class="container" id="introduce">
                <div id="banner">
                    <div id="demo" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                          <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                          <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active carouser_img">
                            <img src="images/background-plc.jpg" style="width: 100%;" alt="photo_1" class="d-block">
                          </div>
                          <div class="carousel-item carouser_img">
                            <img src="https://www.infoplc.net/media/k2/items/cache/384ad86f2bc78174ef5499506b7b7703_XL.jpg" style="width: 100%;" alt="" class="d-block">
                          </div>
                          <div class="carousel-item carouser_img">
                            <img src="https://ctisupply.vn/wp-content/uploads/2020/03/step-7-basic-and-s7-1200.png" style="width: 100%;" alt="" class="d-block">
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                          <span class="carousel-control-next-icon"></span>
                        </button>
                      </div>
                </div>
                <div id="TongQuan">
                    <h4  class="mt-2 text-bg-info text-center text_15" style="font-weight: bold;">Tổng Quan</h4>
                    <h5  class="mt-2 text_14" style="font-weight: bold;">Hệ thống lưu kho là gì?:</h5>
                    <p style=" text-align: justify;" class="text_13">
                        Hệ thống lưu kho và truy xuất tự động (Automated Storage and Retrieval Systems) 
                        hay còn được hiểu là kệ kho chứa hàng AS-RS bao gồm 1 hệ thống khung giàn (Racking) 
                        kết hợp với 1 hệ thống máy trục (Crane) tự động để nhập xuất hàng.
                        Hệ thống này sẽ bao gồm phần cứng và phần mềm.
                        Trong phần cứng sẽ bao gồm các hệ thống giá kệ cố định, các cơ cấu lấy cất hàng và các 
                        băng tải giữ nhiệm vụ vận chuyển hàng vào/ra các cửa nhập/xuất của kho.
                        Trong khi đó phần mềm sẽ giữ vai trò điều khiển giám sát và quản lý dữ liệu hàng hoá.<br>
                    </p>
                        <div class="text-center">
                            <img class="img_contain" class="text-center" src="images/ASRS.png" alt=""><br>
                            <span class="text-center text_13">Hệ thống lưu kho tự động AS-RS</span><br>
                        </div>
                        <dt class="text_13">Ưu điểm hệ thống lưu kho.</dt>
                        <dd class="text_13">- Giảm số lượng nhân công.<br>
                            - Quản lý số lượng hàng hóa trong kho dễ dàng.<br>
                            - Tăng độ chính xác, năng suất và hiệu quả.<br>
                            - Tối ưu không gian nhà kho.<br>
                            - Đảm bảo an toàn lao động.<br>
                        </dd>
                        <dt class="text_13">Nhược điểm hệ thống lưu kho</dt>
                        <dd class="text_13">- Chi phí đầu tư ban đầu có thể cao.
                        </dd>
                        <h5  class="mt-2 text_14" style="font-weight: bold;">Một số ứng dụng của hệ thống lưu kho?</h5>
                </div>
                <div id="MoHinh">
                    <h4  class="mt-2 text-bg-info text-center text_15" style="font-weight: bold;">Sơ Đồ Khối</h4>
                    <h5  class="mt-2 text_14" style="font-weight: bold;">Thành phần của một hệ thống lưu kho?</h5>
                    <p style=" text-align: justify;" class="text_13">
                        Cấu trúc cơ bản của một kho hàng tự động bao gồm nhiều dãy hàng,
                        dọc theo mỗi dãy hàng có một hay nhiều máy xếp, dỡ tự động.
                        Hai bên dãy hàng là các khoang chứa hàng. Đầu mỗi dãy hàng là trạm xếp dỡ.
                        Các trạm xếp dỡ liên hệ với nhau theo hệ thống băng tải.
                    </p>
                    <dt class="text_13">Nhìn chung, hệ thống lưu kho tự động được cấu thành từ 4 phần:</dt>
                    <dd class="text_13">- Hệ thống vận chuyển (robot vận chuyển hàng).<br>
                        - Hệ thống phân loại (phân loại bằng mã QR). <br>
                        - Hệ thống xuất nhập (2 băng tải xuất và nhập hàng).<br>
                        - Hệ thống lưu giữ (kho, giá đặt hàng).<br>
                    </dd>
                </div>
                
                <p class="text_13">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui vel perspiciatis sapiente. Distinctio nulla
                dolore qui nemo non consequatur ullam quo, asperiores aut repellat nostrum perspiciatis iure odio quos
                necessitatibus similique, minima quibusdam nesciunt quis modi commodi hic sapiente aspernatur
                voluptates?
                Consectetur ab, quasi excepturi eum cum suscipit voluptate? Molestiae nostrum assumenda veritatis
                dolore,
                minima numquam itaque quibusdam voluptate commodi maiores nobis doloremque accusantium ducimus veniam ut
                delectus amet, neque sunt et cumque, dolorum voluptatibus saepe eligendi! Nobis odit optio accusantium
                in
                officia? Architecto, molestias. Molestiae qui excepturi quasi similique vero, quis, error, expedita
                culpa
                aliquid deserunt blanditiis tempore impedit.</p>

                <p class="text_13">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui vel perspiciatis sapiente. Distinctio nulla
                dolore qui nemo non consequatur ullam quo, asperiores aut repellat nostrum perspiciatis iure odio quos
                necessitatibus similique, minima quibusdam nesciunt quis modi commodi hic sapiente aspernatur
                voluptates?
                Consectetur ab, quasi excepturi eum cum suscipit voluptate? Molestiae nostrum assumenda veritatis
                dolore,
                minima numquam itaque quibusdam voluptate commodi maiores nobis doloremque accusantium ducimus veniam ut
                delectus amet, neque sunt et cumque, dolorum voluptatibus saepe eligendi! Nobis odit optio accusantium
                in
                officia? Architecto, molestias. Molestiae qui excepturi quasi similique vero, quis, error, expedita
                culpa
                aliquid deserunt blanditiis tempore impedit.</p>
            </div>
            <!-- ////////////// NỘI DUNG TRANG ĐIỀU KHIỂN, GIÁM XÁT VÀ BÁO CÁO //////////////  -->
            <div class="container" id="control">
                <div id="scada">
                    <div id="bg_scada">
                        <div>
                            <!-- Màn hình giám sát 1 -->
                            <div id="scada_display1" class="object">
                                <div class="rounded-circle bg-white border border-dark d-flex align-items-center justify-content-center row-3 col-1" >
                                    <span class="text-dark h4 m-0">1</span>
                                    <img class="d-none" id="n1" src="images/Symbol/box.png"style="width: 100%;">
                                </div>
                                <div class="rounded-circle bg-white border border-dark d-flex align-items-center justify-content-center row-3 col-2" >
                                    <span class="text-dark h4 m-0">2</span>
                                    <img class="d-none" id="n2" src="images/Symbol/box.png"style="width: 100%;">
                                </div>
                                <div class="rounded-circle bg-white border border-dark d-flex align-items-center justify-content-center row-3 col-3" >
                                    <span class="text-dark h4 m-0">3</span>
                                    <img class="d-none" id="n3" src="images/Symbol/box.png"style="width: 100%;">
                                </div>
                                <div class="rounded-circle bg-white border border-dark d-flex align-items-center justify-content-center row-2 col-1" >
                                    <span class="text-dark h4 m-0">4</span>
                                    <img class="d-none" id="n4" src="images/Symbol/box.png"style="width: 100%;">
                                </div>
                                <div class="rounded-circle bg-white border border-dark d-flex align-items-center justify-content-center row-2 col-2" >
                                    <span class="text-dark h4 m-0">5</span>
                                    <img class="d-none" id="n5" src="images/Symbol/box.png"style="width: 100%;">
                                </div>
                                <div class="rounded-circle bg-white border border-dark d-flex align-items-center justify-content-center row-2 col-3" >
                                    <span class="text-dark h4 m-0">6</span>
                                    <img class="d-none" id="n6" src="images/Symbol/box.png"style="width: 100%;">
                                </div>
                                <div class="rounded-circle bg-white border border-dark d-flex align-items-center justify-content-center row-1 col-1" >
                                    <span class="text-dark h4 m-0">7</span>
                                    <img class="d-none" id="n7" src="images/Symbol/box.png"style="width: 100%;">
                                </div>
                                <div class="rounded-circle bg-white border border-dark d-flex align-items-center justify-content-center row-1 col-2" >
                                    <span class="text-dark h4 m-0">8</span>
                                    <img class="d-none" id="n8" src="images/Symbol/box.png"style="width: 100%;">
                                </div>
                                <div class="rounded-circle bg-white border border-dark d-flex align-items-center justify-content-center row-1 col-3" >
                                    <span class="text-dark h4 m-0">9</span>
                                    <img class="d-none" id="n9" src="images/Symbol/box.png"style="width: 100%;">
                                </div>
                                <div class="rounded-circle bg-white border border-dark d-flex align-items-center justify-content-center row-3 col-6" >
                                    <span class="text-dark h4 m-0">10</span>
                                    <img class="d-none" id="n10" src="images/Symbol/box.png"style="width: 100%;">
                                </div>
                                <div class="rounded-circle bg-white border border-dark d-flex align-items-center justify-content-center row-3 col-5" >
                                    <span class="text-dark h4 m-0">11</span>
                                    <img class="d-none" id="n11" src="images/Symbol/box.png"style="width: 100%;">
                                </div>
                                <div class="rounded-circle bg-white border border-dark d-flex align-items-center justify-content-center row-3 col-4" >
                                    <span class="text-dark h4 m-0">12</span>
                                    <img class="d-none" id="n12" src="images/Symbol/box.png"style="width: 100%;">
                                </div>
                                <div class="rounded-circle bg-white border border-dark d-flex align-items-center justify-content-center row-2 col-6" >
                                    <span class="text-dark h4 m-0">13</span>
                                    <img class="d-none" id="n13" src="images/Symbol/box.png"style="width: 100%;">
                                </div>
                                <div class="rounded-circle bg-white border border-dark d-flex align-items-center justify-content-center row-2 col-5" >
                                    <span class="text-dark h4 m-0">14</span>
                                    <img class="d-none" id="n14" src="images/Symbol/box.png"style="width: 100%;">
                                </div>
                                <div class="rounded-circle bg-white border border-dark d-flex align-items-center justify-content-center row-2 col-4" >
                                    <span class="text-dark h4 m-0">15</span>
                                    <img class="d-none" id="n15" src="images/Symbol/box.png"style="width: 100%;">
                                </div>
                                <div class="rounded-circle bg-white border border-dark d-flex align-items-center justify-content-center row-1 col-6" >
                                    <span class="text-dark h4 m-0">16</span>
                                    <img class="d-none" id="n16" src="images/Symbol/box.png" style="width: 100%;">
                                </div>
                                <div class="rounded-circle bg-white border border-dark d-flex align-items-center justify-content-center row-1 col-5" >
                                    <span class="text-dark h4 m-0">17</span>
                                    <img class="d-none" id="n17" src="images/Symbol/box.png"style="width: 100%;">
                                </div>
                                <div class="rounded-circle bg-white border border-dark d-flex align-items-center justify-content-center row-1 col-4" >
                                    <span class="text-dark h4 m-0">18</span>
                                    <img class="d-none" id="n18" src="images/Symbol/box.png"style="width: 100%;">
                                </div>
                                <img class="row-5" id="ss_i1" style="width: 1.5%;">
                                <img class="row-5" id="ss_i2" style="width: 1.5%;">
                                <img class="row-5" id="ss_o" style="width: 1.5%;">
                                <img class="row-5" id="dc_i"  style="width: 11%;">
                                <img class="row-5" id="dc_o"  style="width: 11%;">
                                <img class="row-4" id="mt_i" src="images/Symbol/mt_1.png"style="width: 5%;">
                                <img class="row-4"id="mt_o" src="images/Symbol/mt_1.png"style="width: 5%;">
                            </div>
                            <!-- Màn hình giám sát 2 -->
                            <div id="scada_display2" class="object_display2 ">
                                <img class="row-1" id="stepz" style="width: 5%; transform: rotate(90deg); position: absolute;">
                                <img class="row-2" id="ss_i1_display2" style="width: 1%; transform:rotate(180deg);position: absolute;">
                                <img class="row-3" id="dc_i_display2"  style="width: 4%;position: absolute; transform:rotate(90deg);">
                                <img class="row-3" id="dc_o_display2"  style="width: 4%;position: absolute; transform:rotate(90deg);">
                                <img class="row-4" id="ss_i2_display2"  style="width: 1%;position: absolute;">
                                <img class="row-4" id="ss_o_display2"  style="width: 1%;position: absolute;">
                                <img class="row-5" id="stepx" style="width: 5%;transform:rotate(-90deg);position: absolute;">
                                <div class="slider_s" style="position: absolute; transform:rotate(270deg);">
                                    <div class="slider-thumb" >
                                        <div class="slider_child" style="transform:rotate(270deg);">
                                            <div class="slider-thumb_child" >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slider_1_s" style="position: absolute; transform:rotate(270deg);">
                                    <div class="slider_1-thumb" >
                                        <div class="slider_1_child" style="transform:rotate(90deg);">
                                            <div class="slider_1-thumb_child" >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <img class="row-6" id="led_dc_i"  style="width: 3%; transform:rotate(-90deg); position: absolute;">
                                <img class="row-6" id="led_dc_o"  style="width: 3%; transform:rotate(-90deg); position: absolute;">
                                <img class="row-7" id="led_ss_i1"  style="width: 0.7%; position: absolute;">
                                <img class="row-7" id="led_ss_i2"  style="width: 0.7%; position: absolute;">
                                <img class="row-7" id="led_ss_o" style="width: 0.7%; position: absolute;">
                                <img class="row-8" id="led_ss_x"  style="width: 3%; position: absolute;">
                                <img class="row-8" id="led_ss_y"  style="width: 3%; position: absolute;">
                                <img class="row-8" id="led_ss_z"  style="width: 3%; position: absolute;">
                                <img class="row-9" id="led_stepx"  style="width: 4%; position: absolute; transform:rotate(-90deg);">
                                <img class="row-9" id="led_stepy"  style="width: 4%; position: absolute; transform:rotate(-90deg);">
                                <img class="row-9" id="led_stepz"  style="width: 4%; position: absolute; transform:rotate(-90deg);">
                            </div>
                        </div>
                        <!-- Vùng điều khiển hệ thống -->
                        <div class="" id="panel" >
                            <form>
                                <div class="row text-center" style="margin: 0;">
                                    <label class="bg-primary panel_title">POSITION</label>
                                </div>
                                <div class="row text-center">
                                    <label id="status_robot" class="form-text">ROBOT ĐANG DI CHUYỂN</label>
                                </div>
                                <div class="row form-text-label text-center" id="position">
                                    <div class="col-4">
                                        <div class="text-primary panel_content">
                                            x-scale
                                        </div>
                                        <div>
                                            <label class="text-bg-primary panel_content" id="px"></label>
                                        </div>
                                        <div><input type="range" id="px_range" name="px_range" min="0" max="300"></div>
                                    </div>
                                    <div class="col-4">
                                        <div class="text-warning panel_content">
                                            y-scale
                                        </div>
                                        <div>
                                            <label class="text-bg-warning panel_content" id="py"></label>
                                        </div>
                                        <div><input type="range" id="py_range" name="py_range" min="-3" max="3"></div>
                                    </div>
                                    <div class="col-4">
                                        <div class="text-danger panel_content">
                                            z-scale
                                        </div>
                                        <div>
                                            <label class="text-bg-danger panel_content" id="pz"></label>
                                        </div>
                                        <div><input type="range" id="pz_range" name="pz_range" min="0" max="300"></div>
                                    </div>
                                </div>
                                <div class="row text-center mt-2" style="margin: 0;">
                                    <label class="bg-primary panel_title">INFORMATION</label>
                                </div>
                                <div class="row form-text-label mt-1" style="margin-left: 12px;">
                                    <div class="col-2 panel_content">
                                        <label>QRcode:</label>
                                    </div>
                                    <div class="col-4" >
                                        <input class="text-center information" id="i1" type="text" size="10" disabled>
                                    </div>
                                    <div class="col-2 panel_content">
                                        <label>Type:</label>
                                    </div>
                                    <div class="col-4" >
                                        <input class="text-center information" id="i4" type="text" size="5" disabled>
                                    </div>
                                </div>
                                <div class="row mt-1" style="margin-left: 12px;">
                                    <div class="col-2 panel_content">
                                        <label>Name:</label>
                                    </div>
                                    <div class="col-4" >
                                        <input class="text-center information" id="i2" type="text" size="10" disabled>
                                    </div>
                                    <div class="col-2 panel_content">
                                        <label>Pos:</label>
                                    </div>
                                    <div class="col-4" >
                                        <input class="text-center information" id="i3" type="text" size="5" disabled>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="square" id="type_1">
                                        <span class="panel_content">A</span>
                                    </div>
                                    <div class="square" id="type_2">
                                        <span class="panel_content">B</span>
                                    </div>
                                    <div class="square" id="type_3">
                                        <span class="panel_content">C</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="square counter">
                                        <span id="counter_1" class="panel_content">1</span>
                                    </div>
                                    <div class="square counter">
                                        <span id="counter_2" class="panel_content">2</span>
                                    </div>
                                    <div class="square counter">
                                        <span id="counter_3" class="panel_content">3</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="circle counter" id="status_A">
                                        <span id="counter_A" class="panel_content">0/6</span>
                                    </div>
                                    <div class="circle counter" id="status_B">
                                        <span id="counter_B" class="panel_content">0/6</span>
                                    </div>
                                    <div class="circle counter" id="status_C">
                                        <span id="counter_C" class="panel_content">0/6</span>
                                    </div>
                                </div>
                                <div class="row text-center mt-2" style="margin: 0;">
                                    <label class="bg-primary panel_title">PANEL</label>
                                </div>
                                <div id="gd_dk">
                                    <div id="gd_dk_1" class="d-none">
                                        <div class="row mt-1">
                                            <div class="col-10" id="led">
                                                    <div class="circle panel_content" id="led_1">
                                                        <span>OFF</span>
                                                    </div>
                                                    <div class="circle led_23 panel_content" id="led_2">
                                                        <span>ON</span>
                                                    </div>
                                                    <div class="circle panel_content" id="led_3">
                                                        <span>TRIP</span>
                                                    </div>
                                            </div>
                                        </div>  
                                        <div class="mx-auto btn_group text-center">
                                            <button type="button" class="btn btn-secondary mode_sa panel_content" title="SEMI AUTO">S-A</button> 
                                            <button type="button" class="btn btn-secondary mode_a panel_content" title="AUTO">A</button>
                                        </div>
                                        <div class="text-center" >
                                            <input class="text-center panel_content" id="mode" type="text" size="12" disabled placeholder="SEMI AUTO">
                                        </div>
                                        <div class="mx-auto btn_group text-center">
                                            <div class="mx-auto btn_group text-center">
                                                <button type="button" class="btn btn-secondary bt_import panel_content" title="button import">IMPORT</button> 
                                                <button type="button" class="btn btn-secondary bt_export panel_content" title="button export">EXPORT</button>
                                            </div>
                                            <div class="mx-auto  btn_group text-center">
                                                <button type="button" class="btn btn-secondary bt_run panel_content" title="button run">RUN</button>
                                                <button type="button" class="btn btn-secondary bt_stop panel_content" title="button stop">STOP</button>
                                                <button type="button" class="btn btn-secondary bt_e_stop panel_content" title="button e-stop" >E-STOP</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="gd_dk_2" class="text-center d-none panel_content">
                                        <label for="pos">Chọn vị trí nhập kho:</label>
                                        <div>
                                            <input id="pos_im" class="panel_content" type="number" min="1" max="18">
                                        </div>
                                        <div>    
                                            <button id="bt_select_im" type="button" class="btn btn-secondary panel_content">SELECT</button>
                                        </div>
                                        <div class="panel_content mt-3" >
                                            <p id="lb_import">Loại A: 1,2,3,10,11,12</p>
                                        </div>
                                    </div>
                                    <div id="gd_dk_3" class="text-center d-none panel_content">
                                        <label for="pos">Chọn vị trí xuất kho:</label>
                                        <div>
                                            <input id="pos_ex" class="panel_content" type="number" min="1" max="18">
                                        </div>
                                        <div>    
                                            <button id="bt_select_ex" type="button" class="btn btn-secondary panel_content">SELECT</button>
                                            <button type="button" class="bt_cancle_panel btn btn-danger panel_content">CANCEL</button>
                                        </div>
                                    </div>
                                    <div id="gd_dk_4" class="text-center d-none panel_content">
                                        <label for="pos">Chọn loại hàng xuất kho:</label>
                                        <div class="mx-auto btn_group">
                                            <button id="bt_typeA" type="button" class="btn btn-secondary panel_content">A</button>
                                            <button id="bt_typeB" type="button" class="btn btn-secondary panel_content">B</button>
                                            <button id="bt_typeC" type="button" class="btn btn-secondary panel_content">C</button>
                                        </div>
                                        <div class="mx-auto">
                                            <button type="button" class="bt_cancle_panel btn btn-danger panel_content">CANCEL</button>
                                        </div>
                                    </div>
                                    <div id="gd_dk_5" class="text-center">
                                        <label for="pos" class="mt-2 panel_content">THÔNG BÁO:</label>
                                        <div id="nd_tb" class="panel_content" >
                                            Vui lòng nhấn ON tại tủ điện để cho phép điều khiển!
                                        </div>
                                    </div>
                                </div>
                                <div id="gd_dk_viewer" class="text-center">
                                    <label class="mt-2 panel_content">THÔNG BÁO:</label>
                                        <div class="panel_content" >
                                            <p id="nd_tb_viewer">Đang ở chế độ giám sát</p>
                                        </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Vùng tạo bản báo cáo -->
                <div id="table">
                    <div id="search">
                        <label id="lb_Search_Start">Từ:</label>
                        <input id="dtpk_Search_Start" type="datetime-local">
                        <label id="lb_Search_End">Đến:</label>
                        <input id="dtpk_Search_End" type="datetime-local">
                        <button id="btt_Search" class="text-bg-primary mt-2" onclick="fn_SQL_By_Time();"></i> TÌM KIẾM</button>   
                        <button id="btt_Excel" class="text-bg-primary mt-2" onclick="fn_excel();"></i> EXCEL</button> 
                    </div>
                    <div id="table_show_SQL">
                        <table class="table table-striped" id="table_data">
                            <thead class="table-dark sticky-top">
                                <tr>
                                    <th colspan="6" id="caption_table" class="text_25">BẢNG THỐNG KÊ XUẤT NHẬP KHO</th>
                                </tr>
                              <tr>
                                <th>Thời gian</th>
                                <th>Mã QR code</th>
                                <th>Tên sản phẩm</th>
                                <th>Loại sản phẩm</th>
                                <th>Vị trí</th>
                                <th>Trạng thái</th>
                              </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <!-- ////////////// NỘI DUNG TRANG THÔNG TIN NGƯỜI DÙNG //////////////  -->
            <div class="text-center" id="user" style="height: 570px;">
                <table class="mt-5">
                    <tr>
                        <th class="text_25" colspan="2">THÔNG TIN TÀI KHOẢN</th>
                    </tr>
                    <tr>
                        <td class="text_15">Họ và tên:</td>
                        <td>
                            <input id="ten_user" class="text-center input_table_user text_15" type="text" size="50" disabled>
                        </td>
                    </tr>
                    <tr>
                        <td class="text_15">MSSV:</td>
                        <td>
                            <input id="mssv_user" class="text-center input_table_user text_15" type="text" size="50" disabled >
                        </td>
                    </tr>
                    <tr>
                        <td class="text_15">Ngày sinh:</td>
                        <td>
                            <input id="ns_user" class="text-center input_table_user text_15" type="text" size="50" disabled >
                        </td>
                    </tr>
                    <tr>
                        <td class="text_15">Giới tính:</td>
                        <td>
                            <input id="sex_user_nam" type="radio" name="sex_user" value="1" disabled >
                            <label for="sex_user_nam" class="text_15">Nam</label>
                            <input id="sex_user_nu" type="radio" name="sex_user" value="2" disabled >
                            <label for="sex_user_nu" class="text_15">Nữ</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="text_15">Quê quán:</td>
                        <td>
                            <input id="qq_user" class="text-center input_table_user text_15" type="text" size="50" disabled >
                        </td>
                    </tr>
                    <tr>
                        <td class="text_15">Email:</td>
                        <td>
                            <input id="email_user" class="text-center input_table_user text_15" type="text" size="50" disabled>
                        </td>
                    </tr>
                    <tr>
                        <td class="text_15">Tên tài khoản:</td>
                        <td>
                            <input id="user_user" class="text-center input_table_user text_15" type="text" size="50" disabled>
                        </td>
                    </tr>
                    <tr>
                        <td class="text_15">Mật khẩu:</td>
                        <td>
                            <input id="pass_user" class="text-center input_table_user text_15" type="password" size="50" disabled>
                        </td>
                    </tr>
                    <tr id="confirm_pass" class="d-none">
                        <td class="text_15">Xác nhận Mật khẩu:</td>
                        <td>
                            <input id="pass_2_user" class="text-center input_table_user text_15" type="password" size="50" disabled>
                        </td>
                    </tr>
                    <tr>
                        <td class="text_15">Quyền truy cập:</td>
                        <td>
                            <input id="access_user_admin" type="radio" name="access_user" value="1" disabled >
                            <label for="access_user_admin" class="text_15">Toàn quyền</label>
                            <input id="access_user_control" type="radio" name="access_user" value="2" disabled >
                            <label for="access_user_control" class="text_15">Điều khiển</label>
                            <input id="access_user_report" type="radio" name="access_user" value="3" disabled >
                            <label for="access_user_report" class="text_15">Báo cáo</label>
                            <input id="access_user_viewer" type="radio" name="access_user" value="3" disabled >
                            <label for="access_user_viewer" class="text_15">Giám sát</label>
                        </td>
                    </tr>
                </table>
                <button id="bt_edit"  class="m-2 text-bg-primary d-none" type="button" onclick="fn_edit()">Chỉnh sửa</button>
                <button id="bt_save"  class="m-2 text-bg-danger d-none" type="button" onclick="fn_save()">Lưu</button>
                <button id="bt_cancle"  class="m-2 text-bg-danger d-none" type="button" onclick="fn_cancle()">Hủy</button>
                <button id="bt_logout" class="m-2 text-bg-danger d-none" type="button" onclick="logout()">Đăng xuất</button>
                <button id="bt_login" class="m-2 text-bg-primary" type="button" data-bs-toggle="modal" data-bs-target="#myModal" onclick="fn_bt_login()">Đăng nhập</button>
                <ul id="next_page" class="pagination justify-content-center d-none">
                    <li id="user_pre" class="page-item "><a class="page-link" onclick="fn_user_pre()">Previous</a></li>
                    <li id="user_1"  class="page-item "><a class="page-link" onclick="fn_user_number(1)">1</a></li>
                    <li id="user_2"  class="page-item "><a class="page-link" onclick="fn_user_number(2)">2</a></li>
                    <li id="user_3"  class="page-item "><a class="page-link" onclick="fn_user_number(3)">3</a></li>
                    <li id="user_4"  class="page-item "><a class="page-link" onclick="fn_user_number(4)">4</a></li>
                    <li id="user_next" class="page-item "><a class="page-link" onclick="fn_user_next()">Next</a></li>
                </ul>
            </div>
            <!-- ////////////// VÙNG ĐĂNG NHẬP CHO NGƯỜI DÙNG //////////////  -->
            <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div style="float: right;">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="text-center">
                                <img id = "img_avatar" src="images/user.png" alt="Avatar" class="avatar" style="width: 40%;">
                            </div>
                                <div class="mb-1 mt-1">
                                    <label for="inputuser">User:</label>
                                    <input type="text" class="form-control" id="inputuser" placeholder="Enter user" name="inputuser">
                                </div>
                                <div class="mb-1">
                                    <label for="inputpass">Password:</label>
                                    <input type="password" class="form-control" id="inputpass" placeholder="Enter password" name="inputpass">
                                </div>
                                <div class="form-check mb-1">
                                    <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="remember"> Remember me
                                    </label>
                                </div>
                                <button class="text-bg-primary mb-1" style="width: 100% !important;" onclick="login()">Login</button>
                            <button type="button" class="text-bg-danger" style="float: right;" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ////////////// NỘI DUNG TRANG THÔNG TIN GVHD VÀ THÀNH VIÊN //////////////  -->
            <div id="member" class="bg-light">
                <div id="member1" class=" flip-card container-fluid pt-3">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="images/user.png" alt="Avatar">
                        <h7>GVHD: ThS.Hà Chí Kiên</h7> 
                      </div>
                      <div class="flip-card-back">
                        <h4>ThS.Hà Chí Kiên</h4> 
                        <p>Architect & Engineer</p> 
                        <p>We love that guy</p>
                      </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div id="member2" class=" flip-card container-fluid">
                        <div class="flip-card-inner">
                          <div class="flip-card-front">
                            <img src="images/user.png" alt="Avatar" >
                            <h7>Bạch Hoàng Ân</h7> 
                          </div>
                          <div class="flip-card-back">
                            <h4>Bạch Hoàng Ân</h4> 
                            <p>Architect & Engineer</p> 
                            <p>We love that guy</p>
                          </div>
                        </div>
                    </div>
                    <div id="member3" class=" flip-card container-fluid">
                        <div class="flip-card-inner">
                          <div class="flip-card-front">
                            <img src="images/user.png" alt="Avatar">
                            <h7>Trần Tiến Anh</h7> 
                          </div>
                          <div class="flip-card-back">
                            <h4>Trần Tiến Anh</h4> 
                            <p>Architect & Engineer</p> 
                            <p>We love that guy</p>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5 pb-5">
                    <div id="member4" class=" flip-card container-fluid">
                        <div class="flip-card-inner">
                          <div class="flip-card-front">
                            <img src="images/user.png" alt="Avatar">
                            <h7>Nguyễn Phan Châu Huân</h7> 
                          </div>
                          <div class="flip-card-back">
                            <h4>Nguyễn Phan Châu Huân</h4> 
                            <p>Architect & Engineer</p> 
                            <p>We love that guy</p>
                          </div>
                        </div>
                    </div>
                    <div id="member5" class=" flip-card container-fluid">
                        <div class="flip-card-inner">
                          <div class="flip-card-front">
                            <img src="images/user.png" alt="Avatar">
                            <h7>Nguyễn Thành Luân</h7> 
                          </div>
                          <div class="flip-card-back">
                            <h5>Nguyễn Thành Luân</h5>
                            <p>MSSV: 19486251</p>
                            <p>20/01/2001</p>   
                            <p>Architect & Engineer</p> 
                            <p>We love that guy</p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="bg-dark">
            <p class="text-center text_13">Author: Nguyễn Thành Luân <br>Address: 19/1, Lê Lợi, phường 4, Gò Vấp, Thành phố Hồ Chí Minh<br>Email:thanhluannguyen200101@gmail.com</p>
        </footer>
    </body>
</html>