@import url('https://fonts.google.com/specimen/Source+Sans+Pro');

html, body{
    width: 100%;
    height: 100%;
    font-family: 'Source+Sans+Pro';
    font-size: 25px;
    color: #222;
    padding: 0 !important;
    margin: 0 !important;
}
.navbar{
    background-color: #282A35 !important;
}
.navbar-collapse{
    flex-grow:0;
}
#slider{
    max-width: 960px;
}
.navbar li a{
    color: #fff;
}
.navbar li:hover > a{
    color: rgb(0, 0, 255) !important;
}
.navbar-brand{
    color: #FFF !important;
    font-size: 35PX
}
.dropdown-menu {
    --bs-dropdown-divider-margin-y: 0rem;
    --bs-dropdown-bg:#505357;
}
.dropdown-menu li a{
    color: #fff !important;
}

ul li:hover .dropdown-menu{
    display: block;
}
.active{
    color:aqua !important;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
/* --------------------------------------------------CSS cho màn hình SCADA_1-------------------------------------------------------- */
}.object{
    position: relative;
    min-height:26rem;
    width: 100%;
    height: 100%;
    background-image: url(../images/backGround_display.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}
.object .col-1{
    position:absolute;
    left: 6.5%;
}
.object .col-2{
    position:absolute;
    left: 15.7%;
}
.object .col-3{
    position:absolute;
    left: 25%;
}
.object .col-4{
    position:absolute;
    left: 67.2%;
}
.object .col-5{
    position:absolute;
    left: 76.5%;
}
.object .col-6{
    position:absolute;
    left: 86%;
}
.object img{
    position: absolute;
}
.object #ss_i1{
    left: 4.5%;
}
.object #ss_i2{
    left: 33.5%;
}
.object #ss_o{
    left: 63%;
}
.object #dc_i{
    left: 15.5%;
}
.object #dc_o{
    left: 75%;
}
.object #mt_i{
    position: absolute;
    animation: mymove_i 1s infinite;
}
@keyframes mymove_i {
    from {left: 10%;}
    to {left: 30%;}
}
.object #mt_o{
    position: absolute;
    animation: mymove_o 1s infinite;
}
@keyframes mymove_o {
    from {left: 65%;}
    to {left: 86%;}
}
.object #mt_o{
    left: 76%;
}
/* --------------------------------------------------CSS cho màn hình SCADA_2-------------------------------------------------------- */
.object_display2{
    position: relative;
    min-height:26rem;
    width: 100%;
    height: 100%;
    background-image: url(../images/backGround_display_2_edit.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}
.object_display2 #stepz{
    left: 81.5%;
}
.object_display2 .row-1{
    top: 29.5%;
}
.object_display2 #ss_i1_display2{
    left: 12%;
}
.object_display2 .row-2{
    top: 47%;
}
.object_display2 #dc_i_display2{
    left: 8%;
}
.object_display2 #dc_o_display2{
    left: 60.5%;
}
.object_display2 .row-3{
    top: 48.5%;
}
.object_display2 #ss_i2_display2{
    left: 24.5%;
}
.object_display2 #ss_o_display2{
    left: 47%;
}
.object_display2 .row-4{
    top: 60%;
}
.object_display2 #stepx{
    left: 33.7%;
}
.object_display2 .row-5{
    top: 59.5%;
}
/* --------------CSS cho vùng giám sát robot--------------- */
.slider_s {
    width: 34%;
    height: 10px;
    background-color:none;
    position: relative;
}
.slider-thumb {
width: 40px;
height: 80px;
background-color: blue;
position: absolute;
top: -30px;
left: 0px;
cursor: grab;
}
.slider_child {
    width: 500%;
    height: 80px;
    background-color:none;
    position: relative;
}
.slider-thumb_child {
width: 70px;
height: 25px;
background-color: yellow;
position: absolute;
top: -52px;
/* top: 107px; */
left: 0px;
cursor: grab;
}
.slider_1_s {
    width: 22%;
    height: 10px;
    background-color:none;
    position: relative;
}
.slider_1-thumb {
width: 20px;
height: 80px;
background-color: blue;
position: absolute;
top: 22px;
left: 0px;
cursor: grab;
}
.slider_1_child {
    width: 4%;
    height: 80px;
    background-color:none;
    position: relative;
}
.slider_1-thumb_child {
width: 80px;
height: 10px;
background-color: yellow;
position: absolute;
top: 10px;
left: 0px;
cursor: grab;
}
/* -------------------------------------------------- */
.object_display2 #led_ss_i1{
    left: 9%;
}
.object_display2 #led_dc_i{
    left: 17%;
}
.object_display2 #led_ss_i2{
    left: 28%;
}
.object_display2 #led_ss_o{
    left: 48%;
}
.object_display2 #led_dc_o{
    left: 57%;
}
.object_display2 .row-6{
    top:69%;
}
.object_display2 .row-7{
    top:68.5%;
}
.object_display2 #led_ss_x{
    left: 7%;
}
.object_display2 #led_ss_y{
    left: 17%;
}
.object_display2 #led_ss_z{
    left: 27%;
}
.object_display2 .row-8{
    top: 78.5%;
}
.object_display2 #led_stepx{
    left: 45%;
}
.object_display2 #led_stepy{
    left: 53%;
}
.object_display2 #led_stepz{
    left: 60%;
}
.object_display2 .row-9{
    top:78.5%;
}
/* ---------------------------------------------------------------------------------------------------------- --------------------*/
#bg_scada{
    background-color:rgb(191, 255, 255);
}
#control .btn{
    margin: 5px !important;
    height: 40%;
    width: 20%;    
}
#control{
    background-color:rgb(191, 255, 255);
}
/* Thanh slider x */
#px_range {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    background-color: #ddd;
    outline: none;
    margin: 0;
    padding: 0;
}
/* Nút trượt trên thanh slider x */
#px_range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: blue;
    border-radius: 50%;
    cursor: pointer;
}
/* Thanh slider y */
#py_range {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    background-color: #ddd;
    outline: none;
    margin: 0;
    padding: 0;
}
/* Nút trượt trên thanh slider y */
#py_range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: orange;
    border-radius: 50%;
    cursor: pointer;
}
/* Thanh slider z */
#pz_range {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    background-color: #ddd;
    outline: none;
    margin: 0;
    padding: 0;
}
/* Nút trượt trên thanh slider z */
#pz_range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
}
#panel{
    border: 4px solid rgb(185, 42, 175);
}
#position label{
    width: 80%;
    background-color: #FFF;
}
.square {
    border: 3px solid black;
    width: 30px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
#type_1{
    background-color: #2196F3;
}
#type_2{
    background-color:orange;
}
#type_3{
    background-color: rgb(219, 108, 108);
}
.counter{
    border: 3px solid rgb(72, 143, 201) !important;
    background-color: #fff;
}
.circle {
    border: 2px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
#led{
    margin-top: 12px !important;
    margin-bottom: 10px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
/*//////////////CSS cho vùng hiển thị bảng báo cáo/////////////////*/
#table_show_SQL{
    /* position: absolute;  */
    width: 100%; height: 680px;
    overflow-y: scroll;
}
#table_data thead{
    z-index: 1;
}
#caption_table{
    background-color: rgb(191, 255, 255);
    text-align: center;
    color: red;
    font-size: 25px;
}
#user table , #user th, #user td{
    border: 2px solid black;
    margin: auto;
  }

/*--------------------------- CSS TRANG MEBER -------------------------*/
.flip-card {
background-color: transparent;
width: 300px;
height: 300px;
perspective: 1000px;
}

.flip-card-inner {
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition: transform 0.6s;
transform-style: preserve-3d;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
position: absolute;
width: 100%;
height: 100%;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
}

.flip-card-front {
background-color: #bbb;
color: black;
}

.flip-card-back {
background-color: #2980b9;
color: white;
transform: rotateY(180deg);
}
#member img{
    height: 300px;
    width: 300px;
}
/*--------------------------- CSS PHẦN FOOTER TRANG WEB -------------------------*/
footer{
    color: #fff;
    opacity: 0.8;
}
#scada_display1{
    max-width: 65%;
    float: left;
}
#scada_display2{
    max-width: 65%;
    float: left;
}
#panel{
    max-width: 35%;
    min-height: 722px;
    display: inline-flex;
}
/*------------------------ Màn hình 100% --------------------------*/
@media (max-width: 1600px){
    #title_web{
        font-size: 25px;
    }
    .carouser_img{
        height: 500px;
    }
    #control {
        font-size: 17px;
    }
    /* Css nút nhấn phần panel */
    button{
        width: 20% !important;
    }
    .btn{
        --bs-btn-font-size: 0.4rem !important;
    }
    .rounded-circle{
        width: 60px;
        height: 60px;
    }
    .object .row-1{
        top: 16.5%;
    }
    .object .row-2{
        top: 28.5%;
    }
    .object .row-3{
        top: 40.5%;
    }
    .object .row-4{
        top: 71%;
    }
    .object .row-5{
        top: 85%;
    }
    #px_range{
        width: 100px;
    }
    #py_range{
        width: 100px;
    }
    #pz_range{
        width: 100px;
    }
    .slider_s{
        left:18.2%;
        top:37.2%;
    }
    .slider_1_s{
        top:47%;
        left:66%; 
    }
}
/*------------------------ Màn hình 110% --------------------------*/
@media (max-width: 1400px){
    #control {
        font-size: 15px;
    }
    /* Css nút nhấn phần panel */
    button{
        width: 22% !important;
    }
    .btn{
        --bs-btn-font-size: 0.4rem !important;
    }
    .rounded-circle{
        width: 50px;
        height: 50px;
    }
    .object .row-1{
        top: 25%;
    }
    .object .row-2{
        top: 33.8%;
    }
    .object .row-3{
        top: 42.8%;
    }
    .object .row-4{
        top: 65.5%;
    }
    .object .row-5{
        top: 77%;
    }
    .circle {
        width: 45px;
        height: 45px;
    }
    #px_range{
        width: 90px;
    }
    #py_range{
        width: 90px;
    }
    #pz_range{
        width: 90px;
    }
    #panel{
        min-height: 760px;
    }
}
/*------------------------ Màn hình 150% --------------------------*/
@media (max-width: 1200px){
    #control {
        font-size: 13px;
    }
    /* Css nút nhấn phần panel */
    button{
        width: 27% !important;
    }
    .btn{
        --bs-btn-font-size: 0.4rem !important;
    }
    .rounded-circle{
        width: 40px;
        height: 40px;
    }
    .object .row-1{
        top: 27.8%;
    }
    .object .row-2{
        top: 35.8%;
    }
    .object .row-3{
        top: 43.8%;
    }
    .object .row-4{
        top: 63.5%;
    }
    .object .row-5{
        top: 74%;
    }
    .circle {
        width: 40px;
        height: 40px;
    }
    #px_range{
        width: 70px;
    }
    #py_range{
        width: 70px;
    }
    #pz_range{
        width: 70px;
    }
    #panel{
        min-height: 710px;
    }
}
/*------------------------ Màn hình 175% --------------------------*/
@media (max-width: 992px){
    #control {
        font-size: 9px;
    }
    /* Css nút nhấn phần panel */
    button{
        width: 30% !important;
    }
    .btn{
        --bs-btn-font-size: 0.2rem !important;
    }
    .rounded-circle{
        width: 30px;
        height: 30px;
    }
    .object .row-1{
        top: 32%;
    }
    .object .row-2{
        top: 38.5%;
    }
    .object .row-3{
        top: 45%;
    }
    .object .row-4{
        top: 65%;
    }
    .object .row-5{
        top: 76%;
    }
}
/*------------------------ Màn hình 200% --------------------------*/
@media (max-width: 768px){
    #control {
        font-size: 7px;
    }
    /* Css nút nhấn phần panel */
    button{
        width: 30% !important;
    }
    .btn{
        --bs-btn-font-size: 0.2rem !important;
    }
    .rounded-circle{
        width: 30px;
        height: 30px;
    }
    .object .row-1{
        top: 32%;
    }
    .object .row-2{
        top: 38.5%;
    }
    .object .row-3{
        top: 45%;
    }
    .object .row-4{
        top: 61%;
    }
    .object .row-5{
        top: 69%;
    }
}
/*------------------------ Màn hình 400% --------------------------*/
@media (max-width: 380px){
    #scada_display1{
        min-width: 100%;
        display:inline;
    }
    #scada_display2{
        min-width: 100%;
    }
    #panel{
        min-width: 100%;
        display:inline-block;
        min-height: 500px;
    }
    #title_web{
        font-size: 15px;
    }
    .carouser_img{
        height: 200px;
    }
    .text_25{
        font-size: 15px;
    }
    .input_table_user{
        max-width: 300px;
    }
    .text_15{
        font-size: 15px;
    }
    .text_14{
        font-size: 14px;
    }
    .text_13{
        font-size: 13px;
    }
    .img_contain{
        max-width: 250px;
    }
    #member img{
        height: 300px;
        width: 300px;
    }
    .rounded-circle{
        width: 25px;
        height: 25px;
    }
    .object .row-1{
        top: 36.3%;
    }
    .object .row-2{
        top: 41.3%;
    }
    .object .row-3{
        top: 46%;
    }
    .object .row-4{
        top: 59%;
    }
    .object .row-5{
        top: 64.5%;
    }
    /* PANEL */
    .panel_title{
        font-size: 15px;;
    }
    #status_robot{
        font-size: 10px;
    }
    .panel_content{
        font-size: 10px;
    }
    /* Thanh slider x */
    #px_range {
        height: 4px;
    }
    /* Nút trượt trên thanh slider x */
    #px_range::-webkit-slider-thumb {
        width: 11px;
        height: 11px;
    }
    /* Thanh slider y */
    #py_range {
        height: 4px;
    }
    /* Nút trượt trên thanh slider y */
    #py_range::-webkit-slider-thumb {
        width: 11px;
        height: 11px;
    }
    /* Thanh slider x */
    #pz_range {
        height: 4px;
    }
    /* Nút trượt trên thanh slider z */
    #pz_range::-webkit-slider-thumb {
        width: 11px;
        height: 11px;
    }
    /* --------------------------------------------------CSS cho màn hình SCADA_2-------------------------------------------------------- */
    .object_display2 #stepz{
        left: 81.8%;
    }
    .object_display2 .row-1{
        top: 41%;
    }
    .object_display2 .row-2{
        top: 48.5%;
    }
    .object_display2 .row-3{
        top: 49.5%;
    }
    .object_display2 .row-4{
        top: 54.7%;
    }
    .object_display2 .row-5{
        top: 54.2%;
    }
    /* --------------CSS cho scada robot--------------- */
    .slider_s {
        width: 34%;
        height: 10px;
    }
    .slider-thumb {
    width: 15px;
    height: 35px;
    top: -30px;
    /* left: 0px; */
    }
    .slider_child {
        width: 500%;
        height: 80px;
    }
    .slider-thumb_child {
    width: 30px;
    height: 10px;
    top: 5px;
    left: 45px !important;
    }
    .slider_1_s {
        width: 22%;
        height: 10px;
    }
    .slider_1-thumb {
    width: 8px;
    height: 40px;
    top: 22px;
    left: 0px;
    }
    .slider_1_child {
        width: 4%;
        height: 80px;
    }
    .slider_1-thumb_child {
    width: 40px;
    height: 3px;
    top: 30px;
    left: -40px !important;
    }
    /* -------------------------------------------------- */
    .object_display2 .row-6{
        top:58%;
    }
    .object_display2 .row-7{
        top:57.5%;
    }
    .object_display2 .row-8{
        top: 61.5%;
    }
    .object_display2 .row-9{
        top:61.5%;
    }
    .slider_s{
        left:24%;
        top:44.5%;
    }
    .slider_1_s{
        top:48.3%;
        left:62%; 
    }
    /* ------------------------------------------------------------------------------------------------------------------------------ */
}
